:root {
    --basic-dark: #1F1F1F;
    --basic-light-dark: #313131;
    --basic-blue: #3057A2;
    --basic-grey: #D6D6D6;
    --basic-brown: #595653;
    --basic-yellow: #FBCE51;
    --basic-red: #F54932;
    --basic-beige: #E9DED4;
    --basic-white: #ffffff;
    --basic-black: #000000;

    --special-grey: #D0D0D0;
    --special-light-grey: #D9D9D9;
   }

